// fonts
$font-main: 'Roboto Slab', serif;
$font-second: 'Roboto', sans-serif;

// colors
$light: #fff;
$middle: #d9e4cc;
$dark:#4a4a4a;
$color:#6c933e;
$shadow:0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.25);
$text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);