<footer class="footer">
  <img class="scroll" src="./assets/images/ico-arrow.svg" alt="up">
  <nav>
    <ul class="footer_menu">
      <li><a href="https://adalab.es/">ropa</a> </li>
      <li><a href="https://adalab.es/">zapatillas</a> </li>
      <li><a href="https://adalab.es/">niño/a</a> </li>
      <li><a href="https://adalab.es/">destacados</a> </li>
      <li><a href="https://adalab.es/">tips</a> </li>
    </ul>
    <ul class="rrss">
      <li><a href="https://adalab.es/">Twitter</a> </li>
      <li><a href="https://adalab.es/">Instagram</a> </li>
      <li><a href="https://adalab.es/">Youtube</a> </li>
    </ul>
  </nav>
  <div>
    <span>©2023</span>
    <span>we❤run</span>
  </div>
</footer>
