<footer class="footer">
  <a href="./index.html#header"> <img class="up" src="./assets/images/ico-arrow.svg" alt="up"></a>
  
  <div class="more">
    <nav class="footer_nav">
      <ul>
        <li><a href="https://adalab.es/">zapatillas</a> </li>
        <li><a href="https://adalab.es/">ropa</a> </li>
        <li><a href="https://adalab.es/">niño/a</a> </li>
        <li><a href="https://adalab.es/">destacados</a> </li>
        <li><a href="https://adalab.es/">tips</a> </li>
      </ul>
      <ul class="rrss">
        <li><a href="https://adalab.es/">Twitter</a> </li>
        <li><a href="https://adalab.es/">Instagram</a> </li>
        <li><a href="https://adalab.es/">Youtube</a> </li>
      </ul>
    </nav>
    <ul class="copy">
      <li>©2023</li>
      <li>we❤run</li>
    </ul>
  </div>
</footer>
