<nav class="main_nav">
    <h3>¡Prepáralos con tu marca favorita!</h3>
    <h2>Vuelta al cole</h2>
    <ul class="products">
      <!-- los 3 elementos del listado deben estar con CSS Grid en todos los tamaños. -->
      <figure><img src="./assets/images/mochilas.png" alt="mochilas">
        <figcaption>Mochilas escolares</figcaption>
      </figure>
      <figure><img src="./assets/images/estuches.png" alt="estuches">
        <figcaption>Estuches</figcaption>
      </figure>
      <figure><img src="./assets/images/bolsas.png" alt="bolsas de deportes">
        <figcaption>Bolsas de deportes</figcaption>
      </figure>
    </ul>
    <a href="#">Empezar ahora</a>
  </nav>