<nav>
    <h3>¡Prepáralos con tu marca favorita!</h3>
    <h2>Vuelta al cole</h2>
    <ul>
      <!-- los 3 elementos del listado deben estar con CSS Grid en todos los tamaños. -->
      <figure><img src="" alt="mochilas">
        <figcaption>Mochilas escolares</figcaption>
      </figure>
      <figure><img src="" alt="estuches">
        <figcaption>Estuches</figcaption>
      </figure>
      <figure><img src="" alt="bolsas de deportes">
        <figcaption>Bolsas de deportes</figcaption>
      </figure>
    </ul>
    <button>Empezar ahora</button>
  </nav>