<nav class="main_nav">
    <h3>¡Prepáralos con tu marca favorita!</h3>
    <h2>Vuelta al cole</h2>
    <ul class="products">
      <li class="backp">
        <figure><img src="./assets/images/mochilas.png" alt="mochilas">
          <figcaption>Mochilas escolares</figcaption>
        </figure>
      </li>
      <li class="case">
        <figure><img src="./assets/images/estuches.png" alt="estuches">
          <figcaption>Estuches</figcaption>
        </figure>
      </li>
      <li class="bag">
        <figure><img src="./assets/images/bolsas.png" alt="bolsas de deportes">
          <figcaption>Bolsas de deportes</figcaption>
        </figure>
      </li>
    </ul>
    <a class="start" href="#">Empezar ahora</a>
    
  </nav>