.footer {
  display: flex;
  color: $light;
  font-family: $font-second;
  width: 100%;
  padding: 1rem;
  background-color: $dark;
  ul {
    font-size: 1.6rem;
    list-style: none;
    text-transform: uppercase;
  }
  div {
    font-size: 1.4rem;
  }
}
