.footer {
  @include center;
  color: $light;
  font-family: $font-second;
  background-color: $dark;
  line-height: 2.7rem;
  .scroll {
    transform: translateY(-50%);
    box-shadow: $shadow;
    margin-bottom: 0;
    margin-top: 0.5rem;
  }
  nav {
    font-size: 1.6rem;
    text-transform: uppercase;
    ul {
      list-style: none;
      margin-bottom: 1.6rem;
      li {
        a {
          text-decoration: none;
          color: $light;
        }
      }
    }
  }
  ul {
    font-size: 1.4rem;
    list-style: none;
    margin-bottom: 2rem;
  }
}
