.main_nav {
  font-family: $font-main;
  background-color: $middle;
  text-align: center;
  h3 {
    font-size: 1.2rem;
    color: $dark;
  }
  h2 {
    font-size: 2.8rem;
    text-transform: uppercase;
  }
  ul.products {
    display: grid;
    figure {
      height: 12rem;
      width: 12rem;
      img {
        border-radius: 50%;
        height: 100%;
        width: 100%;
        object-fit: cover;
        box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.25);
      }
      figcaption {
        font-size: 1.5rem;
      }
    }
  }
  a {
    @include button();
    background-color: $color;
    color: $light;
  }
}
