.main_nav {
  font-family: $font-main;
  background-color: $middle;
  text-align: center;
  padding-top: 2rem;
  h3 {
    font-size: 1.2rem;
    color: $dark;
  }
  h2 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    @media screen and (min-width: 768px) {
      font-size: 2.8rem;
    }
  }
  ul.products {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 12.5rem 1fr;
    grid-template-rows: 16.5rem 16.5rem 16.5rem;
    justify-items: center;
    .backp,
    .case,
    .bag {
      grid-column-start: 2;
      grid-column-end: 3;
    }
    @media screen and (min-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 17rem;
      .backp {
        grid-column-start: 1;
        grid-column-end: 2;
      }
      .case {
        grid-column-start: 2;
        grid-column-end: 3;
      }
      .bag {
        grid-column-start: 3;
        grid-column-end: 4;
      }
    }
    figure {
      height: 12.5rem;
      width: 12.5rem;
      img {
        border-radius: 50%;
        height: 100%;
        width: 100%;
        object-fit: cover;
        box-shadow: $shadow;
      }
      figcaption {
        padding-top: 0.3rem;
        font-size: 1.3rem;
        @media screen and (min-width: 768px) {
          margin-left: -1rem;
          width: 16rem;
          font-size: 1.7rem;
        }
      }
    }
  }
  .start {
    @include button();
    background-color: $color;
    color: $light;
  }
  
}
